*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.sideContainer{
    width:18%;
    height:auto;
    background: #151719;
    display:  inline-block; 
    position:   fixed;
    top:  20px;
    left:  0px;
    margin-left: 20px;
}
.profilePic{
  width: 100%;
  background: #151719;
  text-align: center;
  color: #ffffff;
}
.profilePic img{
  margin-top: 20px;
  border-radius: 190px;
  height: auto;
  width: 100%;

}
.profilePic h2{
  padding-bottom: 20px;
}
.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    display:flex;
    justify-content: center;
    list-style: none;
    padding: 30px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    border-radius: 5px;

}
.sidebar ul  :hover{
    background: rgb(19, 138, 19);
    
    color:black;  
}
div.sidebar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar ul a{
    text-decoration: none;
}

.profilePic h2{
    margin-top: 20px;
}

.mainContent{
  position: relative;
    left:10%;
    width:78%;
}
.content{
    position: relative;
    left:23%;
    width:70%;
    top:70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
   /* float: left;*/
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {

    border: 1px solid #dddddd;
    text-align: center;
    padding: 12px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .heading{
    position: relative;
    left:45%;
    width:70%;
    top: 30px;
  }

  .content input[type="number"]{
    padding: 7px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    width: 40px;
  }
  
  .content input[type="submit"]{
    padding: 7px;
    border-radius: 4px;
    background: green;
    margin-left: 20px;
  }
  .content table{
    margin-top: 20px;
  }
  .profileHeading{
     font-style: oblique;
    font-size:  20px;
    text-align:   center; 
    margin:30px;
  }
  .heading{
    margin-top: 100px;
     font-style: oblique;
    font-size:  20px;
    margin-bottom: 30px;
  }
  .profileDetails{
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:   10%;
  }
  .profileDetails tr td{
    padding:  20px;
  }
  .edit{
    margin-top:   10px;
  margin-left:  40%;
  margin-bottom:  10px;
  color:  white;
  background-color: blue;
}

.profileDetails textarea {
  text-align: center;
}
.successMsg{
 
  color: #313335;
}
 .box{
  align-content: center;
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }

.pagecontainer{
  display: inline-block;
  float: right;
  width: 80%;
}
  .profileDetails{
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.editBtn{
    margin-top: 2px;
    margin-left: 30px;
    cursor: pointer;
    display: block;
}
.edit{
     padding: 10px 20px;
     background: #34a326;
     font-size: 17px;
}
.button1{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.button1:hover {
  opacity: 0.8;
}
.cancel {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.editImage {
  width: 40%;
  border-radius: 50%;
}

.container {
    width: 70%;
  padding-top: 100px;
  padding-left : 23%;
  display: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  left: 0;
  top: 0;
  width: 77%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
  } 
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}